<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/assets/css/fontawesome.min.css"/>
    <link rel="stylesheet" href="/assets/css/fontawesome-solid.min.css"/>
    <link rel="stylesheet" href="/assets/css/spectre.min.css"/>
    <link rel="stylesheet" href="/assets/css/spectre-icons.min.css"/>
    <link rel="stylesheet" href="/assets/css/style.css"/>
</head>
<body>
<div class="container grid-lg py-2">
    <h2>{{ title }}</h2>

    {% if version %}
    <p>Version: {{ version }}</p>
    {% endif %}

    <form id="checklist_form" method="post" onsubmit="window.removeEventListener('beforeunload', handleBeforeUnload);">
        {% block form_content %}
        {% endblock %}
    </form>

    <p class="d-flex" aria-hidden="true">
        <i class="fa-solid clf-fa-required text-error"></i> <i>Required field(s)</i>
    </p>

    <div class="d-flex" style="justify-content: space-between;">
        <div class="d-flex" style="gap: 0.4rem;">
            {% if prev_task_name %}
            <a class="btn" href="/page?name={{ prev_task_name }}" role="button">Previous</a>
            {% endif %}

            <input class="btn btn-primary" type="submit" name="submit_action" value="{% if next_task_name %}Next{% else %}Submit{% endif %}" form="checklist_form"/>
        </div>
        <a class="btn btn-error" href="/exit">Exit and Save File</a>
    </div>

    <hr/>
    <p class="text-center">
        <a href="https://github.com/Linuxfabrik/checklistfabrik">ChecklistFabrik</a> was <i class="fa fa-code text-primary" aria-label="coded" role="img"></i> with <i class="fa fa-heart text-error" aria-label="passion" role="img"></i> by <a href="https://linuxfabrik.ch">Linuxfabrik GmbH</a> in Zurich/Switzerland | ChecklistFabrik is released under the <a href="https://unlicense.org">UNLICENSE</a>
    </p>
</div>
<script>
    async function checkHeartBeat(url, server_id) {
        try {
            const request = new Request(
                url + '/heartbeat',
                {
                    method: 'GET',
                    headers: {'Accept': 'application/json'},
                    mode: 'same-origin',
                },
            );

            const response = await fetch(request);

            if (!response.ok) {
                return false;
            }

            const data = response.json()

            return data.server_id === server_id;
        } catch (error) {
            return false;
        }
    }

    function saveFormValues(form) {
        Array.from(form).forEach(element => {
            if (['INPUT', 'SELECT', 'TEXTAREA'].includes(element.tagName)) {
                element.dataset.clfValue = element.value;
            }
        });
    }

    function formChanged(form) {
        return Array.from(form).some((element) => {
            return ['INPUT', 'SELECT', 'TEXTAREA'].includes(element.tagName) && 'clfValue' in element.dataset && element.dataset.clfValue !== element.value;
        });
    }

    function handleBeforeUnload(event) {
        if (formChanged(form)) {
            event.preventDefault();
        }
    }

    const form = document.getElementById('checklist_form');
    const server_id = '{{ server_id }}';

    window.addEventListener('DOMContentLoaded', () => {
        saveFormValues(form);
    });

    window.addEventListener('beforeunload', handleBeforeUnload);

    const heartbeatInterval = setInterval(
        () => {
            checkHeartBeat(window.location.origin).then(
                (server_alive) => {
                    if (!server_alive) {
                        const warning_toast = document.createElement('div');
                        warning_toast.classList.add('my-2', 'toast', 'toast-error');
                        warning_toast.textContent = 'The server has shut down. Some of your changes might not have been saved.';

                        form.parentNode.prepend(warning_toast);
                        clearInterval(heartbeatInterval);
                    }
                }
            );
        },
        1000,
    )
</script>
</body>
</html>