{% extends 'base.html.j2' %}

{% block body %}
    <div class="container grid-lg py-2">
        <h2><i class="fa-solid fa-circle-check"></i> Saved</h2>

        <p>Your answers have been written to disk and the server has been shut down.</p>
        <p>You can close this tab now.</p>
    </div>
{% endblock %}
