label :last-child {
  margin-bottom: 0;
}

div.form-label :last-child {
  margin-bottom: 0;
}

/*
Spectre removes the fieldset border, bring it back for the outermost fieldset
(and also integrate it with Spectre's design).
*/
form > fieldset {
  border: 0.05rem solid rgb(188, 195, 206);
  border-radius: 0.1rem;
  padding: 0.4rem;
}

/* Don't display last hr as it is not needed and only clutters the layout. */
form > fieldset > hr:last-child {
  display: none;
}

form fieldset > legend {
  padding-inline: 0.4rem;
}

hr {
  border: 0 none; /* Not using border here as it does not render consistently across browsers. */
  height: 0.05rem;
  background-color: rgb(188, 195, 206);
}

pre > code:only-child {
  display: block;
}

.clf-fa-required {
  --fa: "\f621";
  display: flex;
  align-items: center;
  font-size: 0.625em;
  margin-inline: 0.3rem;
}

li p {
  display: inline-flex;
}

/* This styling is missing from spectre (only implemented for .form-input) */
:where(
  .form-checkbox:has(input:invalid) > .form-icon,
  .form-radio:has(input:invalid) > .form-icon,
  .form-select:invalid
) {
  border-color: #e85600;
}
