label :last-child {
  margin-bottom: 0;
}

div.form-label :last-child {
  margin-bottom: 0;
}

form fieldset {
  border: 0.05rem solid rgb(188, 195, 206);
  border-radius: .1rem;
  padding: 0.4rem;
}

form fieldset > legend {
  padding-inline: 0.4rem;
}

pre > code:only-child {
  display: block;
}

.clf-fa-required {
  --fa: "\f621";
  display: flex;
  align-items: center;
  font-size: 0.625em;
  margin-inline: 0.3rem;
}

li p {
  display: inline-flex;
}

/* This styling is missing from spectre (only implemented for .form-input) */
:where(
  .form-checkbox:has(input:invalid) > .form-icon,
  .form-radio:has(input:invalid) > .form-icon,
  .form-select:invalid
) {
  border-color: #e85600;
}
